header{
    width: 100%;
    background-color: black; 
}

body {
    background: bisque;
}

h2 {
    text-align: left;
}

ul {
    text-align: right;
    color:blanchedalmond;
}

li {
    display: inline;   
    list-style-type: none;
    font-size: 40px;
}